tests/fixtures/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://example.com/greet"
                  targetNamespace="http://example.com/greet">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/greet">
      <xsd:element name="GreetRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GreetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GreetRequest">
    <wsdl:part name="parameters" element="tns:GreetRequest"/>
  </wsdl:message>
  <wsdl:message name="GreetResponse">
    <wsdl:part name="parameters" element="tns:GreetResponse"/>
  </wsdl:message>
  <wsdl:portType name="GreetPortType">
    <wsdl:operation name="Greet">
      <wsdl:input message="tns:GreetRequest"/>
      <wsdl:output message="tns:GreetResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GreetBinding" type="tns:GreetPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Greet">
      <soap:operation soapAction="http://example.com/greet/Greet"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GreetService">
    <wsdl:port name="GreetPort" binding="tns:GreetBinding">
      <soap:address location="http://example.com/greet"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
